<?xml version="1.0"?>
<config>
    <modules>
        <Martinsl_Address>
            <version>0.1.0</version>
        </Martinsl_Address>
    </modules>
    <global>
        <models>
            <martinsl_address>
                <class>Martinsl_Address_Model</class>
            </martinsl_address>
        </models>
        <helpers>
            <martinsl_address>
                <class>Martinsl_Address_Helper</class>
            </martinsl_address>
        </helpers>
        <resources>
            <address_setup>
                <setup>
                    <module>Martinsl_Address</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </address_setup>
        </resources>
        <blocks>
            <martinsl_address><class>Martinsl_Address_Block</class></martinsl_address>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <martinsl_address>
                    <file>martinsl_address.xml</file>
                </martinsl_address>
            </updates>
        </layout>
    </frontend>
</config>
